Posts::create([
    'title' => 'Tempat belanja',
    'category_id'=> 2,
    'slug' => 'tempatbelanja',
    'excerpt' => 'lorem ipsum dolor sit amet consectetur',
    'body' => 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut excepturi maxime pariatur atque, corporis natus quia? Unde perspiciatis aut veritatis quisquam ab, perferendis harum similique rerum ullam, aliquid explicabo laboriosam iure laborum quaerat molestiae vel consequuntur fugit ad, nesciunt itaque assumenda eius vero distinctio. Aliquid sunt vitae vel perspiciatis nobis sequi, delectus, reiciendis quod error, pariatur harum sit quam tempore illum consequuntur accusamus cupiditate autem nisi? Corrupti, culpa. Facere adipisci excepturi ab animi mollitia, quas veniam! Exercitationem quia molestias temporibus error totam voluptas dolorum obcaecati, voluptatibus maiores praesentium odio a sunt modi explicabo, officia minus eum vitae cupiditate consequuntur neque sed quo dolore suscipit? Nostrum fugit quia, corrupti ducimus odit ipsum accusamus obcaecati! Facilis iure officia illum obcaecati enim at.'
])